<div class="pt-3 pb-2 border-bottom">
  <h2>Adicionar Contato</h2>
</div>
<form [formGroup]="contatoForm" (ngSubmit)="submitForm()" novalidate>
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <!-- jogo -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label [ngClass]="{'text-danger': jogo?.touched && jogo?.invalid}"
          for="jogo" ckass="form-label">jogo</label>
          <input
          [ngClass]="{'is-invalid': jogo?.touched && jogo?.invalid, 'is-valid': jogo?.touched && jogo?.valid}"
          type="text" id="jogo" class="form-control" formControlName="jogo" required>
          <div class="invalid-feedback"><sup>*</sup>jogo obrigatório</div>
        </div>
      </div>
      <!-- lancamento -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': lancamento?.touched && lancamento?.invalid}"
          for="lancamento" class="form-label">Ano lancamento</label>
        <input
          [ngClass]="{'is-invalid': lancamento?.touched && lancamento?.invalid, 'is-valid': lancamento?.touched && lancamento?.valid}"
          type="number"
          formControlName="lancamento"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>lancamento obrigatório</div>
        </div>
      </div>
      <!-- desenvolvedora -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label
          [ngClass]="{'text-danger': desenvolvedora?.touched && desenvolvedora?.invalid}"
          for="desenvolvedora" class="form-label">desenvolvedora:</label>
        <input
          [ngClass]="{'is-invalid': desenvolvedora?.touched && desenvolvedora?.invalid, 'is-valid': desenvolvedora?.touched && desenvolvedora?.valid}"
          type="text"
          formControlName="desenvolvedoras"
          class="form-control"
          required
        />
        <!-- Validation FeedBack -->
        <div class="invalid-feedback"><sup>*</sup>Informe apenas números</div>
        </div>
      </div>
      <div class="form-group text-end">
        <button type="button" class="btn btn-secondary mx-2" (click)="resetForm()">Limpar</button>
        <button type="submit" class="btn btn-success mx-2" [disabled]="!contatoForm.valid">
          Adicionar Contato</button>
      </div>
    </div>
  </div>
</form>
